* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 500px;
    height: 500px;
}

.cell {
    padding: 10px;
    border: 1px solid black;
}

.cell:hover {
    background-color: #d23ea3;
    transition: background-color 0.2s;
}

.cell-end-transition {
    background: white;
    transition: background-color 1s;
}